/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* http://pastebin.com/yDXxzE3A . color refs*/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

*, *:after, *:after {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #28E87D;
    text-shadow: none;
}

::selection {
    background: #28E87D;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #FEFEFE none repeat scroll 0% 0%;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.header-container {
    background: #41434D none repeat scroll 0% 0%;
    color: #fafafa;
    position: relative;
    padding-top: 35px;
    z-index: 99;
}

.header-container::after {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    border: 40px solid transparent;
    border-top-color: #41434D;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: hidden;
}

.pg-canvas {
    position: absolute;
    top: 0px;
    z-index: -1;
}

.header {
    max-width: 1150px;
    margin: 0 auto;
    position: relative;
}

.top-nav {
    float: right;
}

.top-nav li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    color: #BDBEC6;
}

.top-nav li.active {
    color: #fff;
}

.top-nav a {
    padding: 14px 18px;
}

.top-nav a:hover {
    color: #fff;
    background: #28E87D;
}

.brand-left {
    float: left;
}

.brand-left img {
    width: 287px;
    max-width: 100%;
}

.main-intro {
    padding-top: 40px;
}

.title {
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    line-height: 72px;
    font-weight: normal;
    margin-top: 120px;
}

.upper-part, .lower-part {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: row;
    -webkit-flex: row wrap;
    -ms-flex: row wrap;
    flex: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.upper-part {
    margin-bottom: 15px;
}

.highlight {
    margin: 0 20px;
    position: relative;
    width: 31.6578%;
}

.highlight h2 {
    font-weight: 100;
    text-transform: uppercase;
}

.thumbnail {
    float: left;
}

.thumbnail img {
    width: 65px;
    margin: 8px 20px 40px 0px;
    margin-top: 30px;
}

.description {
    line-height: 22.4px;
}

.feature-highlights {
    margin-top: 108px;
    padding-bottom: 120px;
}

/* Main Section starts */

.title-main {
    color: #BDBDBF;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 110px 0 190px 0;
}

.previous-works {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.11), 0px 3px 16px 0px rgba(0, 0, 0, 0.12);
}

.showcase, .showcase-description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: row;
    -webkit-flex: row wrap;
    -ms-flex: row wrap;
    flex: row wrap;
    margin: 0 auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
}

.showcase img, .work-description {
    width: 192px;
    -webkit-transition: all 0.5s cubic-bezier(0.3, 0.73, 0.3, 0.74) 0s;
    transition: all 0.5s cubic-bezier(0.3, 0.73, 0.3, 0.74) 0s;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

.showcase img:hover {

}

.work-description {
    border-right: 1px solid #EBEBEB;
}

.work-title {
    color: #666;
    margin: 12px 0 8px;
    font-size: 14px;
    border-left: 1px solid #fff;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
}

.work-description {
    padding: 0 12px;
}

.work-description > p {
    font-size: 11px;
    line-height: 1.5;
    color: #929395;
    font-style: italic;
    margin: 0;
}

.view {
    text-align: center;
    background: #27B7DD none repeat scroll 0% 0%;
    margin: 35px 0 18px;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24), 0px 3px 16px 0px rgba(0, 0, 0, 0.19);
}

.view p {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 0;
}

.view:hover {
    background: #28E87D none repeat scroll 0% 0%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.11), 0px 3px 5px rgba(0, 0, 0, 0.17)
}

.learn-inbound {
    margin-top: 80px;
}

.funnels {
    margin-left: 95px;
    float: left;
}

.inbound-details {
    float: left;
    width: 47%;
    margin-left: 80px;
    color: #666;
    text-align: center;
}

.inbound-title {
    text-transform: uppercase;
    text-align: left;
}

.inbound-content {
    text-align: left;
}

.learn-more__inbound {
    position: relative;
    background: #27B7DD none repeat scroll 0% 0%;
    border-radius: 2px;
    display: inline-block;
    margin: 40px auto;
    font-size: 15px;
    padding: 0px 40px;
}

.learn-more__inbound p {
    padding: 0;
    text-transform: uppercase;
    color: #FEFEFE;
    font-weight: bold;
    text-align: center;
}

.hosting-options {
    margin-top: 85px;
    width: 100%;
    background: #41434D none repeat scroll 0% 0%;
    color: #fff;
    padding: 50px 0 25px 0;
}

.hosting-text {
    width: 45%;
    margin-left: 25px;
    float: left;
}

.hosting-title {
    font-size: 24px;
    text-transform: uppercase;
}

.hosting-button {
    position: relative;
    background: #28E87D none repeat scroll 0% 0%;
    border-radius: 2px;
    display: inline-block;
    margin: 50px 55px;
    padding: 0px 40px;
}

.hosting-button p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

/* Main Section ends */









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
